/*
** Button styles
*/

$button-toggle-border-radius: .3rem;

.button {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  border: 0;
  cursor: pointer;
  user-select: none;
  outline: none;
  &:focus,
  &.focus {
    text-decoration: none;
  }
  &:active,
  &.is-active {
    background-image: none;
    outline: 0;
  }
  &:disabled {
    cursor: auto;
    opacity: .65;
  }
}

/*
** Button styled to look like a toggle
** put one after another to make a segmented control
*/

.button--toggle {
  min-width: 5rem;
  padding: .4rem .8rem .3rem .8rem;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #000;
  border-top: 0;
  transition: background-color .3s ease;
  &:first-child {
    border-bottom-left-radius: $button-toggle-border-radius;
  }
  &:last-child {
    border-bottom-right-radius: $button-toggle-border-radius;
  }
  &:hover, &:focus {
    background-color: #ececec;
  }
  &.is-active {
    color: #fff;
    background-color: #000;
  }
}
