/*
** Logo Styles
*/
@import "../../stylesheets/variables.scss";

.logo {
  display: flex;
  width: $sidebar-width;
  justify-content: center;
  align-items: center;
  img {
    width: auto;
    height: 2.4rem;
  }
}
