/*
** Block styles
** for general content containers
*/

.block {
  padding: 1.3rem;
}

.block--floating {
  display: inline-block; // to hug content - bring it in
  padding: .5rem;
  box-shadow: $box-shadow--default;
  border-radius: .5rem;
  background-color: #fff;
}
