/*
** Navigation Styles
*/

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav--inline {
  display: flex;
  li {
    display: flex;
    align-items: center;
  }
}

.nav--main {
  li {
    @include nav-item();
    a, a:visited, a:focus, a:hover, a:active {
      display: inline-block;
      padding: 0 2rem;
      color: $black;
    }
    &.is-active {
      background-color: $light-gray;
    }
  }
}

.nav--toggle {
  display: flex;
  justify-content: center;
}
