/*
** Navigation Styles
*/

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav--inline {
  display: flex;
  li {
    display: flex;
    align-items: center;
  }
}

.nav--main {
  li {
    @include nav-item();
    a, a:visited, a:focus, a:hover, a:active {
      display: inline-block;
      padding: 0 2rem;
      color: $black;
    }
    &.is-active {
      background-color: $light-gray;
    }
  }
}

.nav--toggle {
  display: flex;
  justify-content: center;
  li {
    @include nav-item();
    &:first-child {
      a, a:visited, a:focus, a:hover, a:active {
        border-bottom-left-radius: $nav-toggle-border-radius;
      }
    }
    &:last-child {
      a, a:visited, a:focus, a:hover, a:active {
        border-bottom-right-radius: $nav-toggle-border-radius;
      }
    }
    a, a:visited, a:focus, a:hover, a:active {
      display: inline-block;
      min-width: 5rem;
      padding: .4rem .8rem .3rem .8rem;
      color: $black;
      background-color: $white;
      border: 1px solid $black;
      border-top: 0;
    }
    &.is-active {
      a, a:visited, a:focus, a:hover, a:active {
        color: $white;
        background-color: $black;
      }
    }
  }
}
