// GENERAL
$font-family-base:                   'OpenSans', Helvetica, sans-serif; // local Open Sans
$font-family-serif:                   $font-family-base;
$font-size-base:                      12px;
$line-height:                         1.4;
$text-color:                          #000;
$body-bg:                             #fff;

// COLORS
$lightest-gray:                       #efefef;
$light-gray:                          #d4d4d4;
$mid-gray:                            #8e8e8e;
$red:                                 #e43b46;
$black:                               #000;
$white:                               #fff;

$link-color:                          #000;
$link-hover-color:                    #000;

// DIMENSIONS
$header-height:                       4rem;
$sidebar-width:                       18rem;
$risk-height:                         20rem;

// BOXSHADOWS
$box-shadow--default:                  1px 1px 6px 0px rgba(0,0,0,0.10);
$box-shadow--bottom:                   0 10px 12px -8px rgba(0,0,0,0.10);

// GLOBAL Z-INDEXES
$z-index--header:                      3;
$z-index--sidebar:                     2;
$z-index--map:                         1;
