/*
** Header Styles
*/
@import "../../../stylesheets/variables.scss";

.header {
  position: relative;
  display: flex;
  width: 100%;
  height: $header-height;
  box-shadow: $box-shadow--bottom;
  z-index: $z-index--header;
}
