/*
** Reported Cases Styles
*/

.reported-cases {
  margin: .6rem 0;
}

.reported-cases-label {}

.reported-cases-color {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: .8em;
}

.reported-cases-value {
  display: inline-block;
  font-size: 1.8em;
}
