/*
** Reported Cases Styles
*/

.reported-cases {
  margin: .6rem 0;
}

.reported-cases-label {
  margin-bottom: .3rem;
}

.reported-cases-color {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-bottom: -.3rem;
  margin-right: .8em;
}

.reported-cases-value {
  display: inline-block;
  font-size: 1.8em;
}
