/*
** Reported Cases Styles
*/

.reported-cases {
  margin: .6rem 0;
}

.reported-cases-label {
  font-size: .7em;
  margin-bottom: .3em;
}

.reported-cases-color {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  margin-right: .6em;
}

.reported-cases-value {
  display: inline-block;
  font-size: 1.5em;
}
