@import "stylesheets/normalize.scss";
@import "stylesheets/variables.scss";
@import "stylesheets/reboot.scss";
@import "stylesheets/mixins.scss";
@import "stylesheets/blocks.scss";
@import "stylesheets/list.scss";
@import "stylesheets/sidebar.scss";
@import "stylesheets/forms.scss";

/*
** Layout
*/

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.map-container, .map {
  width: 100%;
  height: 100%;
}

.map-legend {
  position: absolute;
  left: 2rem;
  bottom: 7rem;
  padding: 1em;
  border-radius: 5px;
  box-shadow: $box-shadow--default;
  background-color: #fff;
}
h3 {
  margin-bottom: .5em;
  font-size: inherit;
  font-weight: bold;
  color: #333;
}

/* override rc-slider */

.rc-slider-rail {
  margin-top: 1px;
  height: 2px !important;
  background-color: #ccc !important;
}
.rc-slider-track {
  margin-top: -3px !important;
  height: 10px !important;
  background-color: rgba(0,0,0,.4) !important;
  z-index: 2 !important;
}
.rc-slider-handle {
  margin-left: -6px !important;
  margin-top: -4px !important;
  width: 12px !important;
  height: 12px !important;
  border-color: #333 !important;
  background-color: #333 !important;
}

.rc-slider-dot {
  width: 1px !important;
  margin-left: 0 !important;
  border: 0 !important;
  background-color: #ccc !important;
  border-radius: 0 !important;
}
