@import "stylesheets/normalize.scss";
@import "stylesheets/variables.scss";
@import "stylesheets/reboot.scss";
@import "stylesheets/mixins.scss";
@import "stylesheets/blocks.scss";
@import "stylesheets/nav.scss";
@import "stylesheets/list.scss";
@import "stylesheets/sidebar.scss";
@import "stylesheets/forms.scss";

/*
** Layout
*/

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  position: absolute;
  top: $header-height;
  left: 0;
  bottom: 0;
  width: $sidebar-width;
  background-color: $lightest-gray;
  z-index: $z-index--sidebar;
}

.map-parent {
  position: relative;
  margin-left: $sidebar-width;
  width: calc(100vw - #{$sidebar-width});
  height: calc(100vh - #{$risk-height} - #{$header-height});
  z-index: $z-index--map;
  overflow: hidden;
}

.map-container, .map {
  width: 100%;
  height: 100%;
}

.map-legend {
  position: absolute;
  left: 2rem;
  bottom: 7rem;
  padding: 1em;
  border-radius: 5px;
  box-shadow: $box-shadow--default;
  background-color: #fff;
}

.risk {
  padding-left: $sidebar-width;
  height: $risk-height;
}

h3 {
  margin-bottom: .5em;
  font-size: inherit;
  font-weight: bold;
  color: #333;
}
